src/Project/Habitat/specs/Foundation.Common/Service References/UtfService/HelperWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ItemExistsById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="database" type="tns:Database" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Database">
        <s:restriction base="s:string">
          <s:enumeration value="Core" />
          <s:enumeration value="Master" />
          <s:enumeration value="Web" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ItemExistsByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemExistsByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ItemExistsByPath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemPath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="database" type="tns:Database" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ItemExistsByPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemExistsByPathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearTemplates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="database" type="tns:Database" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearTemplatesResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parentIdOrPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="templateIdOrPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="database" type="tns:Database" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemIdOrPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="database" type="tns:Database" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemFieldValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemIdOrPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="database" type="tns:Database" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemFieldValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemFieldValueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemIdOrPath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="database" type="tns:Database" />
            <s:element minOccurs="1" maxOccurs="1" name="withException" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteItemResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteFilesAndFolders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="folderPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nameMask" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFilesAndFoldersResponse">
        <s:complexType />
      </s:element>
      <s:element name="FileOrFolderExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileOrFolderExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FileOrFolderExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uploadFolder" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="InstallPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="packageName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallPackageResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetChildren">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parentIdOrPath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="database" type="tns:Database" />
            <s:element minOccurs="1" maxOccurs="1" name="returnPath" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChildrenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChildrenResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteChildren">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parentIdOrPath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="database" type="tns:Database" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteChildrenResponse">
        <s:complexType />
      </s:element>
      <s:element name="PublishSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="publishMode" type="tns:PublishMode" />
            <s:element minOccurs="0" maxOccurs="1" name="publishLanguage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="PublishMode">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Full" />
          <s:enumeration value="Incremental" />
          <s:enumeration value="SingleItem" />
          <s:enumeration value="Smart" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PublishSiteResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roles" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="eMail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="roleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rolesMembership" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateRoleResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetSecurityRight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="database" type="tns:Database" />
            <s:element minOccurs="0" maxOccurs="1" name="itemIdOrPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="right" type="tns:SecurityRight" />
            <s:element minOccurs="1" maxOccurs="1" name="state" type="tns:AccessPermission" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SecurityRight">
        <s:restriction base="s:string">
          <s:enumeration value="Read" />
          <s:enumeration value="Write" />
          <s:enumeration value="Rename" />
          <s:enumeration value="Create" />
          <s:enumeration value="Delete" />
          <s:enumeration value="Administer" />
          <s:enumeration value="LanguageWrite" />
          <s:enumeration value="FieldRead" />
          <s:enumeration value="FieldWrite" />
          <s:enumeration value="LanguageRead" />
          <s:enumeration value="CreateBucket" />
          <s:enumeration value="RevertBucket" />
          <s:enumeration value="WorkflowStateDelete" />
          <s:enumeration value="WorkflowStateWrite" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="AccessPermission">
        <s:restriction base="s:string">
          <s:enumeration value="NotSet" />
          <s:enumeration value="Allow" />
          <s:enumeration value="Deny" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetSecurityRightResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSecurityRight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="database" type="tns:Database" />
            <s:element minOccurs="0" maxOccurs="1" name="itemIdOrPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="right" type="tns:SecurityRight" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSecurityRightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSecurityRightResult" type="tns:AccessPermission" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserOrRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userOrRoleName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isUser" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserOrRoleResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserOrRoleExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userOrRoleName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isUser" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserOrRoleExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserOrRoleExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KickUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KickUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="KickAllUsers">
        <s:complexType />
      </s:element>
      <s:element name="KickAllUsersResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClearSecurity">
        <s:complexType />
      </s:element>
      <s:element name="ClearSecurityResponse">
        <s:complexType />
      </s:element>
      <s:element name="RebuildIndex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemIdOrPath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="database" type="tns:Database" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RebuildIndexResponse">
        <s:complexType />
      </s:element>
      <s:element name="RebuildCustomIndex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="indexName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RebuildCustomIndexResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetErrors">
        <s:complexType />
      </s:element>
      <s:element name="GetErrorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetErrorsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditXmlFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xpath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditXmlFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditXmlFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWarnings">
        <s:complexType />
      </s:element>
      <s:element name="GetWarningsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWarningsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCEUserOption">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userOption" type="tns:UserOption" />
            <s:element minOccurs="1" maxOccurs="1" name="value" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="UserOption">
        <s:restriction base="s:string">
          <s:enumeration value="ShowGutter" />
          <s:enumeration value="ShowHeader" />
          <s:enumeration value="ShowPages" />
          <s:enumeration value="ShowQuickInfo" />
          <s:enumeration value="ShowRawValues" />
          <s:enumeration value="ShowSearchPanel" />
          <s:enumeration value="RenderItemPersonalizationInfo" />
          <s:enumeration value="ShowSections" />
          <s:enumeration value="ShowSystemFields" />
          <s:enumeration value="ShowValidatorBar" />
          <s:enumeration value="VisibleStrips" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetCEUserOptionResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLogFilesNames">
        <s:complexType />
      </s:element>
      <s:element name="GetLogFilesNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLogFilesNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLogFileContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLogFileContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLogFileContentResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSitecoreVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetSitecoreVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSitecoreVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearSitecoreCache">
        <s:complexType />
      </s:element>
      <s:element name="ClearSitecoreCacheResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ItemExistsByIdSoapIn">
    <wsdl:part name="parameters" element="tns:ItemExistsById" />
  </wsdl:message>
  <wsdl:message name="ItemExistsByIdSoapOut">
    <wsdl:part name="parameters" element="tns:ItemExistsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ItemExistsByPathSoapIn">
    <wsdl:part name="parameters" element="tns:ItemExistsByPath" />
  </wsdl:message>
  <wsdl:message name="ItemExistsByPathSoapOut">
    <wsdl:part name="parameters" element="tns:ItemExistsByPathResponse" />
  </wsdl:message>
  <wsdl:message name="ClearTemplatesSoapIn">
    <wsdl:part name="parameters" element="tns:ClearTemplates" />
  </wsdl:message>
  <wsdl:message name="ClearTemplatesSoapOut">
    <wsdl:part name="parameters" element="tns:ClearTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateItemSoapIn">
    <wsdl:part name="parameters" element="tns:CreateItem" />
  </wsdl:message>
  <wsdl:message name="CreateItemSoapOut">
    <wsdl:part name="parameters" element="tns:CreateItemResponse" />
  </wsdl:message>
  <wsdl:message name="EditItemSoapIn">
    <wsdl:part name="parameters" element="tns:EditItem" />
  </wsdl:message>
  <wsdl:message name="EditItemSoapOut">
    <wsdl:part name="parameters" element="tns:EditItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemFieldValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemFieldValue" />
  </wsdl:message>
  <wsdl:message name="GetItemFieldValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemFieldValueResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteItemSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteItem" />
  </wsdl:message>
  <wsdl:message name="DeleteItemSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteItemResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFilesAndFoldersSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFilesAndFolders" />
  </wsdl:message>
  <wsdl:message name="DeleteFilesAndFoldersSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFilesAndFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="FileOrFolderExistsSoapIn">
    <wsdl:part name="parameters" element="tns:FileOrFolderExists" />
  </wsdl:message>
  <wsdl:message name="FileOrFolderExistsSoapOut">
    <wsdl:part name="parameters" element="tns:FileOrFolderExistsResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="InstallPackageSoapIn">
    <wsdl:part name="parameters" element="tns:InstallPackage" />
  </wsdl:message>
  <wsdl:message name="InstallPackageSoapOut">
    <wsdl:part name="parameters" element="tns:InstallPackageResponse" />
  </wsdl:message>
  <wsdl:message name="GetChildrenSoapIn">
    <wsdl:part name="parameters" element="tns:GetChildren" />
  </wsdl:message>
  <wsdl:message name="GetChildrenSoapOut">
    <wsdl:part name="parameters" element="tns:GetChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteChildrenSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteChildren" />
  </wsdl:message>
  <wsdl:message name="DeleteChildrenSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="PublishSiteSoapIn">
    <wsdl:part name="parameters" element="tns:PublishSite" />
  </wsdl:message>
  <wsdl:message name="PublishSiteSoapOut">
    <wsdl:part name="parameters" element="tns:PublishSiteResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="CreateRoleSoapIn">
    <wsdl:part name="parameters" element="tns:CreateRole" />
  </wsdl:message>
  <wsdl:message name="CreateRoleSoapOut">
    <wsdl:part name="parameters" element="tns:CreateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="SetSecurityRightSoapIn">
    <wsdl:part name="parameters" element="tns:SetSecurityRight" />
  </wsdl:message>
  <wsdl:message name="SetSecurityRightSoapOut">
    <wsdl:part name="parameters" element="tns:SetSecurityRightResponse" />
  </wsdl:message>
  <wsdl:message name="GetSecurityRightSoapIn">
    <wsdl:part name="parameters" element="tns:GetSecurityRight" />
  </wsdl:message>
  <wsdl:message name="GetSecurityRightSoapOut">
    <wsdl:part name="parameters" element="tns:GetSecurityRightResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserOrRoleSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUserOrRole" />
  </wsdl:message>
  <wsdl:message name="DeleteUserOrRoleSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserOrRoleResponse" />
  </wsdl:message>
  <wsdl:message name="UserOrRoleExistsSoapIn">
    <wsdl:part name="parameters" element="tns:UserOrRoleExists" />
  </wsdl:message>
  <wsdl:message name="UserOrRoleExistsSoapOut">
    <wsdl:part name="parameters" element="tns:UserOrRoleExistsResponse" />
  </wsdl:message>
  <wsdl:message name="KickUserSoapIn">
    <wsdl:part name="parameters" element="tns:KickUser" />
  </wsdl:message>
  <wsdl:message name="KickUserSoapOut">
    <wsdl:part name="parameters" element="tns:KickUserResponse" />
  </wsdl:message>
  <wsdl:message name="KickAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:KickAllUsers" />
  </wsdl:message>
  <wsdl:message name="KickAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:KickAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ClearSecuritySoapIn">
    <wsdl:part name="parameters" element="tns:ClearSecurity" />
  </wsdl:message>
  <wsdl:message name="ClearSecuritySoapOut">
    <wsdl:part name="parameters" element="tns:ClearSecurityResponse" />
  </wsdl:message>
  <wsdl:message name="RebuildIndexSoapIn">
    <wsdl:part name="parameters" element="tns:RebuildIndex" />
  </wsdl:message>
  <wsdl:message name="RebuildIndexSoapOut">
    <wsdl:part name="parameters" element="tns:RebuildIndexResponse" />
  </wsdl:message>
  <wsdl:message name="RebuildCustomIndexSoapIn">
    <wsdl:part name="parameters" element="tns:RebuildCustomIndex" />
  </wsdl:message>
  <wsdl:message name="RebuildCustomIndexSoapOut">
    <wsdl:part name="parameters" element="tns:RebuildCustomIndexResponse" />
  </wsdl:message>
  <wsdl:message name="GetErrorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetErrors" />
  </wsdl:message>
  <wsdl:message name="GetErrorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetErrorsResponse" />
  </wsdl:message>
  <wsdl:message name="EditXmlFileSoapIn">
    <wsdl:part name="parameters" element="tns:EditXmlFile" />
  </wsdl:message>
  <wsdl:message name="EditXmlFileSoapOut">
    <wsdl:part name="parameters" element="tns:EditXmlFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetWarningsSoapIn">
    <wsdl:part name="parameters" element="tns:GetWarnings" />
  </wsdl:message>
  <wsdl:message name="GetWarningsSoapOut">
    <wsdl:part name="parameters" element="tns:GetWarningsResponse" />
  </wsdl:message>
  <wsdl:message name="SetCEUserOptionSoapIn">
    <wsdl:part name="parameters" element="tns:SetCEUserOption" />
  </wsdl:message>
  <wsdl:message name="SetCEUserOptionSoapOut">
    <wsdl:part name="parameters" element="tns:SetCEUserOptionResponse" />
  </wsdl:message>
  <wsdl:message name="GetLogFilesNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetLogFilesNames" />
  </wsdl:message>
  <wsdl:message name="GetLogFilesNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetLogFilesNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetLogFileContentSoapIn">
    <wsdl:part name="parameters" element="tns:GetLogFileContent" />
  </wsdl:message>
  <wsdl:message name="GetLogFileContentSoapOut">
    <wsdl:part name="parameters" element="tns:GetLogFileContentResponse" />
  </wsdl:message>
  <wsdl:message name="GetSitecoreVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetSitecoreVersion" />
  </wsdl:message>
  <wsdl:message name="GetSitecoreVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetSitecoreVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ClearSitecoreCacheSoapIn">
    <wsdl:part name="parameters" element="tns:ClearSitecoreCache" />
  </wsdl:message>
  <wsdl:message name="ClearSitecoreCacheSoapOut">
    <wsdl:part name="parameters" element="tns:ClearSitecoreCacheResponse" />
  </wsdl:message>
  <wsdl:portType name="HelperWebServiceSoap">
    <wsdl:operation name="ItemExistsById">
      <wsdl:input message="tns:ItemExistsByIdSoapIn" />
      <wsdl:output message="tns:ItemExistsByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ItemExistsByPath">
      <wsdl:input message="tns:ItemExistsByPathSoapIn" />
      <wsdl:output message="tns:ItemExistsByPathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearTemplates">
      <wsdl:input message="tns:ClearTemplatesSoapIn" />
      <wsdl:output message="tns:ClearTemplatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateItem">
      <wsdl:input message="tns:CreateItemSoapIn" />
      <wsdl:output message="tns:CreateItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditItem">
      <wsdl:input message="tns:EditItemSoapIn" />
      <wsdl:output message="tns:EditItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemFieldValue">
      <wsdl:input message="tns:GetItemFieldValueSoapIn" />
      <wsdl:output message="tns:GetItemFieldValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <wsdl:input message="tns:DeleteItemSoapIn" />
      <wsdl:output message="tns:DeleteItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFilesAndFolders">
      <wsdl:input message="tns:DeleteFilesAndFoldersSoapIn" />
      <wsdl:output message="tns:DeleteFilesAndFoldersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FileOrFolderExists">
      <wsdl:input message="tns:FileOrFolderExistsSoapIn" />
      <wsdl:output message="tns:FileOrFolderExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InstallPackage">
      <wsdl:input message="tns:InstallPackageSoapIn" />
      <wsdl:output message="tns:InstallPackageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChildren">
      <wsdl:input message="tns:GetChildrenSoapIn" />
      <wsdl:output message="tns:GetChildrenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteChildren">
      <wsdl:input message="tns:DeleteChildrenSoapIn" />
      <wsdl:output message="tns:DeleteChildrenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PublishSite">
      <wsdl:input message="tns:PublishSiteSoapIn" />
      <wsdl:output message="tns:PublishSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <wsdl:input message="tns:CreateRoleSoapIn" />
      <wsdl:output message="tns:CreateRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSecurityRight">
      <wsdl:input message="tns:SetSecurityRightSoapIn" />
      <wsdl:output message="tns:SetSecurityRightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSecurityRight">
      <wsdl:input message="tns:GetSecurityRightSoapIn" />
      <wsdl:output message="tns:GetSecurityRightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserOrRole">
      <wsdl:input message="tns:DeleteUserOrRoleSoapIn" />
      <wsdl:output message="tns:DeleteUserOrRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserOrRoleExists">
      <wsdl:input message="tns:UserOrRoleExistsSoapIn" />
      <wsdl:output message="tns:UserOrRoleExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KickUser">
      <wsdl:input message="tns:KickUserSoapIn" />
      <wsdl:output message="tns:KickUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KickAllUsers">
      <wsdl:input message="tns:KickAllUsersSoapIn" />
      <wsdl:output message="tns:KickAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearSecurity">
      <wsdl:input message="tns:ClearSecuritySoapIn" />
      <wsdl:output message="tns:ClearSecuritySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RebuildIndex">
      <wsdl:input message="tns:RebuildIndexSoapIn" />
      <wsdl:output message="tns:RebuildIndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RebuildCustomIndex">
      <wsdl:input message="tns:RebuildCustomIndexSoapIn" />
      <wsdl:output message="tns:RebuildCustomIndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetErrors">
      <wsdl:input message="tns:GetErrorsSoapIn" />
      <wsdl:output message="tns:GetErrorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditXmlFile">
      <wsdl:input message="tns:EditXmlFileSoapIn" />
      <wsdl:output message="tns:EditXmlFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWarnings">
      <wsdl:input message="tns:GetWarningsSoapIn" />
      <wsdl:output message="tns:GetWarningsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCEUserOption">
      <wsdl:input message="tns:SetCEUserOptionSoapIn" />
      <wsdl:output message="tns:SetCEUserOptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogFilesNames">
      <wsdl:input message="tns:GetLogFilesNamesSoapIn" />
      <wsdl:output message="tns:GetLogFilesNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogFileContent">
      <wsdl:input message="tns:GetLogFileContentSoapIn" />
      <wsdl:output message="tns:GetLogFileContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSitecoreVersion">
      <wsdl:input message="tns:GetSitecoreVersionSoapIn" />
      <wsdl:output message="tns:GetSitecoreVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearSitecoreCache">
      <wsdl:input message="tns:ClearSitecoreCacheSoapIn" />
      <wsdl:output message="tns:ClearSitecoreCacheSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelperWebServiceSoap" type="tns:HelperWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ItemExistsById">
      <soap:operation soapAction="http://tempuri.org/ItemExistsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemExistsByPath">
      <soap:operation soapAction="http://tempuri.org/ItemExistsByPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearTemplates">
      <soap:operation soapAction="http://tempuri.org/ClearTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateItem">
      <soap:operation soapAction="http://tempuri.org/CreateItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditItem">
      <soap:operation soapAction="http://tempuri.org/EditItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemFieldValue">
      <soap:operation soapAction="http://tempuri.org/GetItemFieldValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <soap:operation soapAction="http://tempuri.org/DeleteItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFilesAndFolders">
      <soap:operation soapAction="http://tempuri.org/DeleteFilesAndFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileOrFolderExists">
      <soap:operation soapAction="http://tempuri.org/FileOrFolderExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstallPackage">
      <soap:operation soapAction="http://tempuri.org/InstallPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildren">
      <soap:operation soapAction="http://tempuri.org/GetChildren" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChildren">
      <soap:operation soapAction="http://tempuri.org/DeleteChildren" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublishSite">
      <soap:operation soapAction="http://tempuri.org/PublishSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <soap:operation soapAction="http://tempuri.org/CreateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSecurityRight">
      <soap:operation soapAction="http://tempuri.org/SetSecurityRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityRight">
      <soap:operation soapAction="http://tempuri.org/GetSecurityRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserOrRole">
      <soap:operation soapAction="http://tempuri.org/DeleteUserOrRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserOrRoleExists">
      <soap:operation soapAction="http://tempuri.org/UserOrRoleExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KickUser">
      <soap:operation soapAction="http://tempuri.org/KickUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KickAllUsers">
      <soap:operation soapAction="http://tempuri.org/KickAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearSecurity">
      <soap:operation soapAction="http://tempuri.org/ClearSecurity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RebuildIndex">
      <soap:operation soapAction="http://tempuri.org/RebuildIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RebuildCustomIndex">
      <soap:operation soapAction="http://tempuri.org/RebuildCustomIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetErrors">
      <soap:operation soapAction="http://tempuri.org/GetErrors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditXmlFile">
      <soap:operation soapAction="http://tempuri.org/EditXmlFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarnings">
      <soap:operation soapAction="http://tempuri.org/GetWarnings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCEUserOption">
      <soap:operation soapAction="http://tempuri.org/SetCEUserOption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogFilesNames">
      <soap:operation soapAction="http://tempuri.org/GetLogFilesNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogFileContent">
      <soap:operation soapAction="http://tempuri.org/GetLogFileContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitecoreVersion">
      <soap:operation soapAction="http://tempuri.org/GetSitecoreVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearSitecoreCache">
      <soap:operation soapAction="http://tempuri.org/ClearSitecoreCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HelperWebServiceSoap12" type="tns:HelperWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ItemExistsById">
      <soap12:operation soapAction="http://tempuri.org/ItemExistsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemExistsByPath">
      <soap12:operation soapAction="http://tempuri.org/ItemExistsByPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearTemplates">
      <soap12:operation soapAction="http://tempuri.org/ClearTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateItem">
      <soap12:operation soapAction="http://tempuri.org/CreateItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditItem">
      <soap12:operation soapAction="http://tempuri.org/EditItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemFieldValue">
      <soap12:operation soapAction="http://tempuri.org/GetItemFieldValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <soap12:operation soapAction="http://tempuri.org/DeleteItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFilesAndFolders">
      <soap12:operation soapAction="http://tempuri.org/DeleteFilesAndFolders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileOrFolderExists">
      <soap12:operation soapAction="http://tempuri.org/FileOrFolderExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstallPackage">
      <soap12:operation soapAction="http://tempuri.org/InstallPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildren">
      <soap12:operation soapAction="http://tempuri.org/GetChildren" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChildren">
      <soap12:operation soapAction="http://tempuri.org/DeleteChildren" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublishSite">
      <soap12:operation soapAction="http://tempuri.org/PublishSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://tempuri.org/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <soap12:operation soapAction="http://tempuri.org/CreateRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSecurityRight">
      <soap12:operation soapAction="http://tempuri.org/SetSecurityRight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityRight">
      <soap12:operation soapAction="http://tempuri.org/GetSecurityRight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserOrRole">
      <soap12:operation soapAction="http://tempuri.org/DeleteUserOrRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserOrRoleExists">
      <soap12:operation soapAction="http://tempuri.org/UserOrRoleExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KickUser">
      <soap12:operation soapAction="http://tempuri.org/KickUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KickAllUsers">
      <soap12:operation soapAction="http://tempuri.org/KickAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearSecurity">
      <soap12:operation soapAction="http://tempuri.org/ClearSecurity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RebuildIndex">
      <soap12:operation soapAction="http://tempuri.org/RebuildIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RebuildCustomIndex">
      <soap12:operation soapAction="http://tempuri.org/RebuildCustomIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetErrors">
      <soap12:operation soapAction="http://tempuri.org/GetErrors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditXmlFile">
      <soap12:operation soapAction="http://tempuri.org/EditXmlFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarnings">
      <soap12:operation soapAction="http://tempuri.org/GetWarnings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCEUserOption">
      <soap12:operation soapAction="http://tempuri.org/SetCEUserOption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogFilesNames">
      <soap12:operation soapAction="http://tempuri.org/GetLogFilesNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogFileContent">
      <soap12:operation soapAction="http://tempuri.org/GetLogFileContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitecoreVersion">
      <soap12:operation soapAction="http://tempuri.org/GetSitecoreVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearSitecoreCache">
      <soap12:operation soapAction="http://tempuri.org/ClearSitecoreCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelperWebService">
    <wsdl:port name="HelperWebServiceSoap" binding="tns:HelperWebServiceSoap">
      <soap:address location="http://habitat.test5ua1.dk.sitecore.net/HelperWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="HelperWebServiceSoap12" binding="tns:HelperWebServiceSoap12">
      <soap12:address location="http://habitat.test5ua1.dk.sitecore.net/HelperWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>