specs/Foundation.Common/Service References/TestHelperService/tests.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sitecore.net/AutoTestsHelperService.asmx" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sitecore.net/AutoTestsHelperService.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sitecore.net/AutoTestsHelperService.asmx">
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRoleForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roleName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRoleForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetRoleForUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRolesForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRolesForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRolesForUserResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllRoles">
        <s:complexType />
      </s:element>
      <s:element name="GetAllRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllRolesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFieldSecurityRight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="itemIdOrPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="right" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFieldSecurityRightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFieldSecurityRightResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemSecurityRight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="itemIdOrPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="right" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemSecurityRightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetItemSecurityRightResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProperties">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPropertiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserPropertiesResult" type="tns:ArrayOfSerializableKeyValuePairOfStringString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSerializableKeyValuePairOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SerializableKeyValuePairOfStringString" nillable="true" type="tns:SerializableKeyValuePairOfStringString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SerializableKeyValuePairOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetContactTags">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tagName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactTagsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactTagsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactSystemInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactSystemInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactSystemInfoResult" type="tns:SystemInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SystemInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VisitCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetContactPersonalInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactPersonalInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactPersonalInfoResult" type="tns:PersonalInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PersonalInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetContactEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactPhone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactPhoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactPhoneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IndexDatabases">
        <s:complexType />
      </s:element>
      <s:element name="IndexDatabasesResponse">
        <s:complexType />
      </s:element>
      <s:element name="IndexMasterDatabases">
        <s:complexType />
      </s:element>
      <s:element name="IndexMasterDatabasesResponse">
        <s:complexType />
      </s:element>
      <s:element name="UploadMediaItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadMediaItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadMediaItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttachToMediaItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttachToMediaItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AttachToMediaItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RenameItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSiteHostName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hostName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSiteHostNameResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="SetRoleForUserSoapIn">
    <wsdl:part name="parameters" element="tns:SetRoleForUser" />
  </wsdl:message>
  <wsdl:message name="SetRoleForUserSoapOut">
    <wsdl:part name="parameters" element="tns:SetRoleForUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetRolesForUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetRolesForUser" />
  </wsdl:message>
  <wsdl:message name="GetRolesForUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetRolesForUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllRolesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllRoles" />
  </wsdl:message>
  <wsdl:message name="GetAllRolesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllRolesResponse" />
  </wsdl:message>
  <wsdl:message name="GetFieldSecurityRightSoapIn">
    <wsdl:part name="parameters" element="tns:GetFieldSecurityRight" />
  </wsdl:message>
  <wsdl:message name="GetFieldSecurityRightSoapOut">
    <wsdl:part name="parameters" element="tns:GetFieldSecurityRightResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemSecurityRightSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemSecurityRight" />
  </wsdl:message>
  <wsdl:message name="GetItemSecurityRightSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemSecurityRightResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserPropertiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserProperties" />
  </wsdl:message>
  <wsdl:message name="GetUserPropertiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactTagsSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactTags" />
  </wsdl:message>
  <wsdl:message name="GetContactTagsSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactTagsResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactSystemInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactSystemInfo" />
  </wsdl:message>
  <wsdl:message name="GetContactSystemInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactSystemInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactPersonalInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactPersonalInfo" />
  </wsdl:message>
  <wsdl:message name="GetContactPersonalInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactPersonalInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactEmail" />
  </wsdl:message>
  <wsdl:message name="GetContactEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactEmailResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactPhoneSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactPhone" />
  </wsdl:message>
  <wsdl:message name="GetContactPhoneSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IndexDatabasesSoapIn">
    <wsdl:part name="parameters" element="tns:IndexDatabases" />
  </wsdl:message>
  <wsdl:message name="IndexDatabasesSoapOut">
    <wsdl:part name="parameters" element="tns:IndexDatabasesResponse" />
  </wsdl:message>
  <wsdl:message name="IndexMasterDatabasesSoapIn">
    <wsdl:part name="parameters" element="tns:IndexMasterDatabases" />
  </wsdl:message>
  <wsdl:message name="IndexMasterDatabasesSoapOut">
    <wsdl:part name="parameters" element="tns:IndexMasterDatabasesResponse" />
  </wsdl:message>
  <wsdl:message name="UploadMediaItemSoapIn">
    <wsdl:part name="parameters" element="tns:UploadMediaItem" />
  </wsdl:message>
  <wsdl:message name="UploadMediaItemSoapOut">
    <wsdl:part name="parameters" element="tns:UploadMediaItemResponse" />
  </wsdl:message>
  <wsdl:message name="AttachToMediaItemSoapIn">
    <wsdl:part name="parameters" element="tns:AttachToMediaItem" />
  </wsdl:message>
  <wsdl:message name="AttachToMediaItemSoapOut">
    <wsdl:part name="parameters" element="tns:AttachToMediaItemResponse" />
  </wsdl:message>
  <wsdl:message name="RenameItemSoapIn">
    <wsdl:part name="parameters" element="tns:RenameItem" />
  </wsdl:message>
  <wsdl:message name="RenameItemSoapOut">
    <wsdl:part name="parameters" element="tns:RenameItemResponse" />
  </wsdl:message>
  <wsdl:message name="SetSiteHostNameSoapIn">
    <wsdl:part name="parameters" element="tns:SetSiteHostName" />
  </wsdl:message>
  <wsdl:message name="SetSiteHostNameSoapOut">
    <wsdl:part name="parameters" element="tns:SetSiteHostNameResponse" />
  </wsdl:message>
  <wsdl:portType name="AutoTestsHelperServiceSoap">
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetRoleForUser">
      <wsdl:input message="tns:SetRoleForUserSoapIn" />
      <wsdl:output message="tns:SetRoleForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRolesForUser">
      <wsdl:input message="tns:GetRolesForUserSoapIn" />
      <wsdl:output message="tns:GetRolesForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <wsdl:input message="tns:GetAllRolesSoapIn" />
      <wsdl:output message="tns:GetAllRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFieldSecurityRight">
      <wsdl:input message="tns:GetFieldSecurityRightSoapIn" />
      <wsdl:output message="tns:GetFieldSecurityRightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemSecurityRight">
      <wsdl:input message="tns:GetItemSecurityRightSoapIn" />
      <wsdl:output message="tns:GetItemSecurityRightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProperties">
      <wsdl:input message="tns:GetUserPropertiesSoapIn" />
      <wsdl:output message="tns:GetUserPropertiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactTags">
      <wsdl:input message="tns:GetContactTagsSoapIn" />
      <wsdl:output message="tns:GetContactTagsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactSystemInfo">
      <wsdl:input message="tns:GetContactSystemInfoSoapIn" />
      <wsdl:output message="tns:GetContactSystemInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactPersonalInfo">
      <wsdl:input message="tns:GetContactPersonalInfoSoapIn" />
      <wsdl:output message="tns:GetContactPersonalInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactEmail">
      <wsdl:input message="tns:GetContactEmailSoapIn" />
      <wsdl:output message="tns:GetContactEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactPhone">
      <wsdl:input message="tns:GetContactPhoneSoapIn" />
      <wsdl:output message="tns:GetContactPhoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IndexDatabases">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Indexes core and master databases</wsdl:documentation>
      <wsdl:input message="tns:IndexDatabasesSoapIn" />
      <wsdl:output message="tns:IndexDatabasesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IndexMasterDatabases">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Indexes master database</wsdl:documentation>
      <wsdl:input message="tns:IndexMasterDatabasesSoapIn" />
      <wsdl:output message="tns:IndexMasterDatabasesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadMediaItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create new media item</wsdl:documentation>
      <wsdl:input message="tns:UploadMediaItemSoapIn" />
      <wsdl:output message="tns:UploadMediaItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AttachToMediaItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Attach file content to media item</wsdl:documentation>
      <wsdl:input message="tns:AttachToMediaItemSoapIn" />
      <wsdl:output message="tns:AttachToMediaItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenameItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Rename item</wsdl:documentation>
      <wsdl:input message="tns:RenameItemSoapIn" />
      <wsdl:output message="tns:RenameItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSiteHostName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Configure host name for habitat site item</wsdl:documentation>
      <wsdl:input message="tns:SetSiteHostNameSoapIn" />
      <wsdl:output message="tns:SetSiteHostNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoTestsHelperServiceSoap" type="tns:AutoTestsHelperServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRoleForUser">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/SetRoleForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesForUser">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetRolesForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetAllRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFieldSecurityRight">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetFieldSecurityRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemSecurityRight">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetItemSecurityRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProperties">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetUserProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactTags">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetContactTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactSystemInfo">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetContactSystemInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactPersonalInfo">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetContactPersonalInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactEmail">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetContactEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactPhone">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetContactPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndexDatabases">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/IndexDatabases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndexMasterDatabases">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/IndexMasterDatabases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMediaItem">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/UploadMediaItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachToMediaItem">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/AttachToMediaItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameItem">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/RenameItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSiteHostName">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/SetSiteHostName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutoTestsHelperServiceSoap12" type="tns:AutoTestsHelperServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRoleForUser">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/SetRoleForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesForUser">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetRolesForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetAllRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFieldSecurityRight">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetFieldSecurityRight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemSecurityRight">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetItemSecurityRight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProperties">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetUserProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactTags">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetContactTags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactSystemInfo">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetContactSystemInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactPersonalInfo">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetContactPersonalInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactEmail">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetContactEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactPhone">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetContactPhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndexDatabases">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/IndexDatabases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndexMasterDatabases">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/IndexMasterDatabases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMediaItem">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/UploadMediaItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachToMediaItem">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/AttachToMediaItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameItem">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/RenameItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSiteHostName">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/SetSiteHostName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoTestsHelperService">
    <wsdl:port name="AutoTestsHelperServiceSoap" binding="tns:AutoTestsHelperServiceSoap">
      <soap:address location="http://habitat.test5ua1.dk.sitecore.net/tests.proxy.asmx" />
    </wsdl:port>
    <wsdl:port name="AutoTestsHelperServiceSoap12" binding="tns:AutoTestsHelperServiceSoap12">
      <soap12:address location="http://habitat.test5ua1.dk.sitecore.net/tests.proxy.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>