specs/Foundation.Common/Service References/TestHelperService/tests.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sitecore.net/AutoTestsHelperService.asmx" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sitecore.net/AutoTestsHelperService.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sitecore.net/AutoTestsHelperService.asmx">
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProperties">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPropertiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserPropertiesResult" type="tns:ArrayOfSerializableKeyValuePairOfStringString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSerializableKeyValuePairOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SerializableKeyValuePairOfStringString" nillable="true" type="tns:SerializableKeyValuePairOfStringString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SerializableKeyValuePairOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IndexDatabases">
        <s:complexType />
      </s:element>
      <s:element name="IndexDatabasesResponse">
        <s:complexType />
      </s:element>
      <s:element name="IndexMasterDatabases">
        <s:complexType />
      </s:element>
      <s:element name="IndexMasterDatabasesResponse">
        <s:complexType />
      </s:element>
      <s:element name="UploadMediaItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadMediaItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadMediaItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttachToMediaItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttachToMediaItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AttachToMediaItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RenameItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSiteHostName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hostName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSiteHostNameResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserPropertiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserProperties" />
  </wsdl:message>
  <wsdl:message name="GetUserPropertiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IndexDatabasesSoapIn">
    <wsdl:part name="parameters" element="tns:IndexDatabases" />
  </wsdl:message>
  <wsdl:message name="IndexDatabasesSoapOut">
    <wsdl:part name="parameters" element="tns:IndexDatabasesResponse" />
  </wsdl:message>
  <wsdl:message name="IndexMasterDatabasesSoapIn">
    <wsdl:part name="parameters" element="tns:IndexMasterDatabases" />
  </wsdl:message>
  <wsdl:message name="IndexMasterDatabasesSoapOut">
    <wsdl:part name="parameters" element="tns:IndexMasterDatabasesResponse" />
  </wsdl:message>
  <wsdl:message name="UploadMediaItemSoapIn">
    <wsdl:part name="parameters" element="tns:UploadMediaItem" />
  </wsdl:message>
  <wsdl:message name="UploadMediaItemSoapOut">
    <wsdl:part name="parameters" element="tns:UploadMediaItemResponse" />
  </wsdl:message>
  <wsdl:message name="AttachToMediaItemSoapIn">
    <wsdl:part name="parameters" element="tns:AttachToMediaItem" />
  </wsdl:message>
  <wsdl:message name="AttachToMediaItemSoapOut">
    <wsdl:part name="parameters" element="tns:AttachToMediaItemResponse" />
  </wsdl:message>
  <wsdl:message name="RenameItemSoapIn">
    <wsdl:part name="parameters" element="tns:RenameItem" />
  </wsdl:message>
  <wsdl:message name="RenameItemSoapOut">
    <wsdl:part name="parameters" element="tns:RenameItemResponse" />
  </wsdl:message>
  <wsdl:message name="SetSiteHostNameSoapIn">
    <wsdl:part name="parameters" element="tns:SetSiteHostName" />
  </wsdl:message>
  <wsdl:message name="SetSiteHostNameSoapOut">
    <wsdl:part name="parameters" element="tns:SetSiteHostNameResponse" />
  </wsdl:message>
  <wsdl:portType name="AutoTestsHelperServiceSoap">
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProperties">
      <wsdl:input message="tns:GetUserPropertiesSoapIn" />
      <wsdl:output message="tns:GetUserPropertiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IndexDatabases">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Indexes core and master databases</wsdl:documentation>
      <wsdl:input message="tns:IndexDatabasesSoapIn" />
      <wsdl:output message="tns:IndexDatabasesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IndexMasterDatabases">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Indexes master database</wsdl:documentation>
      <wsdl:input message="tns:IndexMasterDatabasesSoapIn" />
      <wsdl:output message="tns:IndexMasterDatabasesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadMediaItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create new media item</wsdl:documentation>
      <wsdl:input message="tns:UploadMediaItemSoapIn" />
      <wsdl:output message="tns:UploadMediaItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AttachToMediaItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Attach file content to media item</wsdl:documentation>
      <wsdl:input message="tns:AttachToMediaItemSoapIn" />
      <wsdl:output message="tns:AttachToMediaItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenameItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Rename item</wsdl:documentation>
      <wsdl:input message="tns:RenameItemSoapIn" />
      <wsdl:output message="tns:RenameItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSiteHostName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Configure host name for habitat site item</wsdl:documentation>
      <wsdl:input message="tns:SetSiteHostNameSoapIn" />
      <wsdl:output message="tns:SetSiteHostNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoTestsHelperServiceSoap" type="tns:AutoTestsHelperServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProperties">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetUserProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndexDatabases">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/IndexDatabases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndexMasterDatabases">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/IndexMasterDatabases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMediaItem">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/UploadMediaItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachToMediaItem">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/AttachToMediaItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameItem">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/RenameItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSiteHostName">
      <soap:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/SetSiteHostName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutoTestsHelperServiceSoap12" type="tns:AutoTestsHelperServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProperties">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/GetUserProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndexDatabases">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/IndexDatabases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndexMasterDatabases">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/IndexMasterDatabases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMediaItem">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/UploadMediaItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachToMediaItem">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/AttachToMediaItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameItem">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/RenameItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSiteHostName">
      <soap12:operation soapAction="http://sitecore.net/AutoTestsHelperService.asmx/SetSiteHostName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoTestsHelperService">
    <wsdl:port name="AutoTestsHelperServiceSoap" binding="tns:AutoTestsHelperServiceSoap">
      <soap:address location="http://habitat.test5ua1.dk.sitecore.net/tests.proxy.asmx" />
    </wsdl:port>
    <wsdl:port name="AutoTestsHelperServiceSoap12" binding="tns:AutoTestsHelperServiceSoap12">
      <soap12:address location="http://habitat.test5ua1.dk.sitecore.net/tests.proxy.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>